<div class="container cards">
  <div id="clearance" class="sign-in card">

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="flash flash--<%= key %>"><%=h value %></div>
      <% end %>
    </div>

    <div class="card-header">
      <h2>Enter</h2>
    </div>

    <div class="card-copy">
    <%= render partial: '/sessions/form' %>
    </div>
  </div>
</div>
