.home-index {
  .filters {
    padding-top: 30px;
    padding-bottom: 30px;

    .field-label {
      flex-basis: initial;
      flex-grow: initial;
    }

    .date {
      position: relative;
    }
  }

  .fresh_stats, .stats_for_date {
    @extend .table;
    @extend .is-fullwidth;

    th span {
      @extend .heading;
    }

    td span {
      @extend .subtitle;
    }
  }
}
